<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>EShop - Tài khoản</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="eCommerce HTML Template Free Download" name="keywords">
<meta content="eCommerce HTML Template Free Download" name="description">

<!-- Favicon -->
<link th:href="@{/client/img/favicon.ico}" rel="icon">

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap"
	rel="stylesheet">

<!-- CSS Libraries -->
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
	rel="stylesheet">
<link th:href="@{/client/lib/slick/slick.css}" rel="stylesheet">
<link th:href="@{/client/lib/slick/slick-theme.css}" rel="stylesheet">

<!-- Template Stylesheet -->
<link th:href="@{/client/css/style.css}" rel="stylesheet">
</head>

<body>
	<!-- Header -->
	<div th:replace="share/header::header"></div>

	<!-- Breadcrumb Start -->
	<div class="breadcrumb-wrap">
		<div class="container-fluid">
			<ul class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/index}">Trang
						chủ</a></li>
				<li class="breadcrumb-item"><a th:href="@{/user/my-info}">Tài
						khoản</a></li>
				<li class="breadcrumb-item active">Tất cả đơn hàng</li>
			</ul>
		</div>
	</div>

	<!-- Tài khoản -->
	<div class="my-account">
		<div class="container-fluid">
			<div class="row">

				<div th:replace="/user/sidebar::sidebar"></div>

				<div class="col-md-9">
					<div class="tab-content" th:if="${billDTOs.size != 0}">
						<div class="tab-pane fade show active" id="dashboard-tab"
							role="tabpanel" aria-labelledby="dashboard-nav">
							<h4>Tất cả đơn hàng</h4>

							<div class="table-responsive">
								<table class="table table-bordered">
									<thead class="thead-dark">
										<tr>
											<th>Mã đơn</th>
											<th>Thời gian nhận</th>
											<th>Ghi chú</th>
											<th>Ngày đặt</th>
											<th>Tổng tiền</th>
											<th>Thanh toán</th>
											<th>Trạng thái</th>
											<th>Chi tiết</th>
										</tr>
									</thead>

									<tbody>
										<tr th:each="bill : ${billDTOs}">
											<td th:text="${bill.id}"></td>
											<td th:text="${bill.time}"></td>
											<td th:text="${bill.note}"></td>
											<td th:text="${bill.buyDate}"></td>
											<td th:text="${'$' + bill.totalPrice}"></td>
											<td th:text="${bill.payMethod}"></td>
											<td th:text="${bill.status}"></td>
											<td><a th:href="@{'/user/details-bill/' + ${bill.id}}"><button
														class="btn">Xem</button></a></td>
										</tr>

									</tbody>
								</table>
							</div>
						</div>

					</div>

					<div class="tab-content" th:if="${billDTOs.size == 0}">
						<a th:href="@{/show-all-product}"
							style="padding: 40px 0px 40px 250px"><img
							th:src="@{/client/assets/arrow-left.svg}" alt=""> Đơn hàng
							trống. Quay lại mua hàng </a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<div th:replace="share/footer::footer"></div>

	<!-- JavaScript Libraries -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
	<script th:src="@{/client/lib/easing/easing.min.js}"></script>
	<script th:src="@{/client/lib/slick/slick.min.js}"></script>

	<!-- Template Javascript -->
	<script th:src="@{/client/js/main.js}"></script>
</body>
</html>
