<div th:fragment="sidebar" class="col-md-3">
	<div class="nav flex-column nav-pills" role="tablist"
		aria-orientation="vertical">

		<a class="nav-link" th:href="@{/user/my-info}"><i
			class="fa fa-user"></i>Thông tin chi tiết</a> 
			
			<a class="nav-link"
			th:href="@{/user/show-all-bill}"><i class="fa fa-tachometer-alt"></i>Tất cả đơn
			hàng</a> 
			
			<a class="nav-link" th:href="@{/user/change-password}"><i
			class="fa fa-map-marker-alt"></i>Đổi mật khẩu</a> 
			
			<a class="nav-link"
			th:href="@{/logout}"><i class="fa fa-sign-out-alt"></i>Đăng xuất</a>
	</div>
</div>