<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>EShop - Chi tiết sản phẩm</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="eCommerce HTML Template Free Download" name="keywords">
<meta content="eCommerce HTML Template Free Download" name="description">

<!-- Favicon -->
<link th:href="@{/client/img/favicon.ico}" rel="icon">

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap"
	rel="stylesheet">

<!-- CSS Libraries -->
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
	rel="stylesheet">
<link th:href="@{/client/lib/slick/slick.css}" rel="stylesheet">
<link th:href="@{/client/lib/slick/slick-theme.css}" rel="stylesheet">

<!-- Template Stylesheet -->
<link th:href="@{/client/css/style.css}" rel="stylesheet">
</head>

<body>
	<!-- Header-->
	<div th:replace="share/header::header"></div>

	<!-- Breadcrumb Start -->
	<div class="breadcrumb-wrap">
		<div class="container-fluid">
			<ul class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/index}">Trang
						chủ</a></li>
				<li class="breadcrumb-item"><a th:href="@{/show-all-product}">Sản
						phẩm</a></li>
				<li class="breadcrumb-item active">Chi tiết</li>
			</ul>
		</div>
	</div>
	<!-- Breadcrumb End -->

	<!-- Product Detail Start -->
	<div class="product-detail">
		<div class="container-fluid">
			<div class="row">
				<div th:replace="share/sidebar::sidebar"></div>

				<div class="col-lg-9">
					<div class="product-detail-top">
						<div class="row align-items-center">
							<div class="col-md-5">
								<div class="product-slider-single normal-slider"
									style="padding-top: 40px">
									<img th:src="@{'/show-image?image=' + ${productDTO.image}}"
										alt="Product Image">
								</div>

								<div class="product-slider-single-nav normal-slider">
									<div class="slider-nav-img">
										<img th:src="@{'/show-image?image=' + ${productDTO.image}}"
											alt="Product Image">
									</div>

									<div class="slider-nav-img">
										<img th:src="@{'/show-image?image=' + ${productDTO.image}}"
											alt="Product Image">
									</div>

									<div class="slider-nav-img">
										<img th:src="@{'/show-image?image=' + ${productDTO.image}}"
											alt="Product Image">
									</div>

									<div class="slider-nav-img">
										<img th:src="@{'/show-image?image=' + ${productDTO.image}}"
											alt="Product Image">
									</div>
								</div>
							</div>

							<div class="col-md-7">
								<div class="product-content">
									<div class="title">
										<h2 th:text="${productDTO.name}"></h2>
									</div>

									<div class="ratting">
										<i class="fa fa-star"
											th:each="rate : ${#numbers.sequence(1,productDTO.rating)}"></i>
									</div>

									<div class="price">
										<h4>Giá:</h4>
										<p th:text="${'$' + productDTO.sale}">
											
										</p>
										
										<span th:text="${'$' + productDTO.price}"></span>
									</div>

									<div class="quantity">
										<h4>Số lượng:</h4>
										<div class="qty">
											<button class="btn-minus">
												<i class="fa fa-minus"></i>
											</button>
											<input type="text" value="1">
											<button class="btn-plus">
												<i class="fa fa-plus"></i>
											</button>
										</div>
									</div>

									<div class="p-size">
										<h4>Size:</h4>
										<div class="btn-group btn-group-sm">
											<button type="button" class="btn">S</button>
											<button type="button" class="btn">M</button>
											<button type="button" class="btn">L</button>
											<button type="button" class="btn">XL</button>
										</div>
									</div>

									<div class="p-color">
										<h4>Màu:</h4>
										<div class="btn-group btn-group-sm">
											<button type="button" class="btn">Đen</button>
											<button type="button" class="btn">Trắng</button>
											<button type="button" class="btn">Xanh</button>
										</div>
									</div>

									<div class="action">
										<a class="btn" th:href="@{'/add-to-cart/' + ${productDTO.id}}">
											<i class="fa fa-shopping-cart"></i>Thêm vào giỏ
										</a> 
											
										<a class="btn" th:href="@{'/add-to-cart/' + ${productDTO.id}}"><i class="fa fa-shopping-bag"></i>Mua ngay
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row product-detail-bottom">
						<div class="col-lg-12">
							<ul class="nav nav-pills nav-justified">
								<li class="nav-item"><a class="nav-link active"
									data-toggle="pill" href="#description">Mô tả</a></li>

								<li class="nav-item"><a class="nav-link" data-toggle="pill"
									href="#reviews">Đánh giá</a></li>
							</ul>

							<div class="tab-content">
								<div id="description" class="container tab-pane active">
									<h4>Mô tả</h4>
									<p th:text="${productDTO.description}"></p>
								</div>

								<div id="reviews" class="container tab-pane fade">
									<div class="reviews-submitted">
										<div class="reviewer">
											Minh Pham - <span>15/02/2020</span>
										</div>
										<div class="ratting">
											<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
												class="fa fa-star"></i>
										</div>
										<p>. . .</p>
									</div>

									<div class="reviews-submit">
										<h4>Gửi đánh giá:</h4>
										<div class="ratting">
											<i class="far fa-star"></i> <i class="far fa-star"></i> <i
												class="far fa-star"></i> <i class="far fa-star"></i> <i
												class="far fa-star"></i>
										</div>
										<div class="row form">
											<div class="col-sm-6">
												<input type="text" placeholder="Tên của bạn">
											</div>
											<div class="col-sm-6">
												<input type="email" placeholder="Email">
											</div>
											<div class="col-sm-12">
												<textarea placeholder="Đánh giá"></textarea>
											</div>
											<div class="col-sm-12">
												<button>Gửi đi</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="product">
						<div class="section-header">
							<h1>Sản phẩm nổi bật</h1>
						</div>

						<div
							class="row align-items-center product-slider product-slider-3">
							<div class="col-lg-3" th:each="product : ${productDTOs}">
								<div class="product-item">
									<div class="product-title">
										<a th:href="@{'/details-product/' + ${product.id}}"
											th:text="${productDTO.name}"></a>
										<div class="ratting">
											<i class="fa fa-star"
												th:each="rate : ${#numbers.sequence(1,product.rating)}"></i>
										</div>
									</div>

									<div class="product-image">
										<a href="product-detail.html"> <img
											th:src="@{'/show-image?image=' + ${product.image}}"
											alt="Product Image">
										</a>
										<div class="product-action">
											<a th:href="@{'/add-to-cart/' + ${product.id}}"><i class="fa fa-cart-plus"></i></a> <a href="#"><i
												class="fa fa-heart"></i></a> <a th:href="@{'/details-product/' + ${product.id}}"><i
												class="fa fa-search"></i></a>
										</div>
									</div>
									<div class="product-price">
										<h3>
											<span th:text="${'$' + product.sale}"></span>
										</h3>
										<a class="btn" th:href="@{'/add-to-cart/' + ${product.id}}"><i class="fa fa-shopping-cart"></i>Mua
											ngay</a>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

				<!-- Side Bar Start -->

			</div>
		</div>
	</div>
	<!-- Product Detail End -->

	<!-- Brand -->
	<div th:replace="share/brand::brand"></div>

	<!-- Footer -->
	<div th:replace="share/footer::footer"></div>

	<!-- JavaScript Libraries -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
	<script th:src="@{/client/lib/easing/easing.min.js}"></script>
	<script th:src="@{/client/lib/slick/slick.min.js}"></script>

	<!-- Template Javascript -->
	<script th:src="@{/client/js/main.js}"></script>
</body>
</html>
