<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>EShop - Đăng nhập</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="eCommerce HTML Template Free Download" name="keywords">
<meta content="eCommerce HTML Template Free Download" name="description">

<!-- Favicon -->
<link th:href="@{img/favicon.ico}" rel="icon">

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap"
	rel="stylesheet">

<!-- CSS Libraries -->
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
	rel="stylesheet">
<link th:href="@{/client/lib/slick/slick.css}" rel="stylesheet">
<link th:href="@{/client/lib/slick/slick-theme.css}" rel="stylesheet">

<!-- Template Stylesheet -->
<link th:href="@{/client/css/style.css}" rel="stylesheet">
</head>

<body>
	<div th:replace="share/header::header"></div>

	<!-- Breadcrumb Start -->
	<div class="breadcrumb-wrap">
		<div class="container-fluid">
			<ul class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/index}">Trang
						chủ</a></li>
				<li class="breadcrumb-item active">Đăng nhập</li>
			</ul>
		</div>
	</div>
	<!-- Breadcrumb End -->

	<!-- Login Start -->
	<div class="login">
		<div class="container-fluid">
			<div class="row">

				<div class="col-lg-2"></div>

				<div class="col-lg-8">
					<form th:action="@{/register}" method="post" th:object="${userDTO}"
						enctype="multipart/form-data">
						<div class="login-form">
							<div class="row">
								<div class="col-md-6">
									<label>Hình ảnh</label> <input type="file" name="imageFile">
								</div>
								<div class="col-md-3">
									<input class="form-control" type="text"
										placeholder="Người dùng" th:field="*{role}"
										th:value="${userDTO.role}" hidden>
								</div>
								<div class="col-md-3">
									<input class="form-control" type="text" placeholder="Active"
										th:field="*{active}" th:value="${userDTO.active}" hidden>
								</div>

								<div class="col-md-6">
									<label>Họ tên</label> <input class="form-control" type="text"
										placeholder="Họ tên" th:field="*{name}">
								</div>
								<div class="col-md-6">
									<label>Địa chỉ</label> <input class="form-control" type="text"
										placeholder="Địa chỉ" th:field="*{address}">
								</div>

								<div class="col-md-6">
									<label>Email</label> <input class="form-control" type="text"
										placeholder="Email" th:field="*{email}">
								</div>
								<div class="col-md-6">
									<label>Số điện thoại</label> <input class="form-control"
										type="text" placeholder="Số điện thoại" th:field="*{phone}">
								</div>

								<div class="col-md-6">
									<label>Tên đăng nhập</label> <input class="form-control"
										type="text" placeholder="Tên đăng nhập" th:field="*{username}">
								</div>
								<div class="col-md-6">
									<label>Mật khẩu</label> <input class="form-control" type="text"
										placeholder="Mật khẩu" th:field="*{password}">
								</div>

								<div class="col-md-12">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input"
											id="newaccount"> <label class="custom-control-label"
											for="newaccount">Lưu tài khoản</label>
									</div>
								</div>

								<div class="col-md-12">
									<button class="btn" type="submit">Đăng kí</button>
								</div>

							</div>
						</div>
					</form>

				</div>

				<div class="col-lg-2"></div>

			</div>
		</div>
	</div>

	<div th:replace="share/footer::footer"></div>

	<!-- JavaScript Libraries -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
	<script th:src="@{/client/lib/easing/easing.min.js}"></script>
	<script th:src="@{/client/lib/slick/slick.min.js}"></script>

	<!-- Template Javascript -->
	<script th:src="@{/client/js/main.js}"></script>
</body>
</html>
