<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>EShop - Tất cả sản phẩm</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="eCommerce HTML Template Free Download" name="keywords">
<meta content="eCommerce HTML Template Free Download" name="description">

<!-- Favicon -->
<link th:href="@{/client/img/favicon.ico}" rel="icon">

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap"
	rel="stylesheet">

<!-- CSS Libraries -->
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
	rel="stylesheet">
<link th:href="@{/client/lib/slick/slick.css}" rel="stylesheet">
<link th:href="@{/client/lib/slick/slick-theme.css}" rel="stylesheet">

<!-- Template Stylesheet -->
<link th:href="@{/client/css/style.css}" rel="stylesheet">
</head>

<body>
	<div th:replace="share/header::header"></div>

	<!-- Breadcrumb Start -->
	<div class="breadcrumb-wrap">
		<div class="container-fluid">
			<ul class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/index}">Trang chủ</a></li>
				<li class="breadcrumb-item active">Tất cả sản phẩm</li>
			</ul>
		</div>
	</div>
	<!-- Breadcrumb End -->

	<!-- Product List Start -->
	<div class="product-view">
		<div class="container-fluid">
			<div class="row">
				<div th:replace="share/sidebar::sidebar"></div>
			
				<div class="col-lg-9">
					<div class="row">

						<div class="col-md-12">
							<div class="product-view-top">
								<div class="row">

									<div class="col-md-4">
										<div class="product-search">
											<input type="text" placehoder="Tìm kiếm" />
											<button type="submit">
												<i class="fa fa-search"></i>
											</button>
										</div>
									</div>

									<div class="col-md-4">
										<div class="product-short">
											<div class="dropdown">
												<div class="dropdown-toggle" data-toggle="dropdown">Sắp
													xếp theo</div>
												<div class="dropdown-menu dropdown-menu-right">
													<a href="#" class="dropdown-item">Mới nhất</a> <a href="#"
														class="dropdown-item">Bán chạy nhất</a> <a href="#"
														class="dropdown-item">Đang sale</a>
												</div>
											</div>
										</div>
									</div>

									<div class="col-md-4">
										<div class="product-price-range">
											<div class="dropdown">
												<div class="dropdown-toggle" data-toggle="dropdown">Sắp
													xếp theo giá</div>
												<div class="dropdown-menu dropdown-menu-right">
													<a href="#" class="dropdown-item">$0 to $50</a> <a href="#"
														class="dropdown-item">$51 to $100</a> <a href="#"
														class="dropdown-item">$101 to $150</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-4" th:each="productDTO : ${productDTOs}">
							<div class="product-item">
								<div class="product-title">
									<a th:href="@{'/details-product/' + ${productDTO.id}}" th:text="${productDTO.name}"></a>
									<div class="ratting">
										<i class="fa fa-star"
											th:each="rate : ${#numbers.sequence(1,productDTO.rating)}"></i>
									</div>
								</div>

								<div class="product-image">
									<a href="#"> <img
										th:src="@{'/show-image?image=' + ${productDTO.image}}"
										alt="Product Image">
									</a>
									<div class="product-action">
										<a th:href="@{'/add-to-cart/' + ${productDTO.id}}"><i class="fa fa-cart-plus"></i></a> <a th:href="@{'/add-to-wishlist/' + ${productDTO.id}}"><i
											class="fa fa-heart"></i></a> <a th:href="@{'/details-product/' + ${productDTO.id}}"><i
											class="fa fa-search"></i></a>
									</div>
								</div>

								<div class="product-price">
									<h3 th:text="${'$' + productDTO.sale}">
										<span>$</span>
									</h3>
									<a class="btn" th:href="@{'/add-to-cart/' + ${productDTO.id}}"><i class="fa fa-shopping-cart"></i>Mua
										ngay</a>
								</div>
							</div>
						</div>

					</div>

					<!-- Pagination Start -->
					<div class="col-md-12">
						<nav aria-label="Page navigation example">
							<ul class="pagination justify-content-center" >
								<li class="page-item active" th:each="page : ${pageNumbers}">
									<a class="page-link" th:href="@{'/show-all-product/' + ${page}}"  th:text="${page}"></a>
								</li>
							</ul>
						</nav>
					</div>
					
				</div>
	
			</div>
		</div>
	</div>
	<!-- Product List End -->

	<div th:replace="share/brand::brand"></div>

	<div th:replace="share/footer::footer"></div>

	<!-- JavaScript Libraries -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
	<script th:src="@{/client/lib/easing/easing.min.js}"></script>
	<script th:src="@{/client/lib/slick/slick.min.js}"></script>

	<!-- Template Javascript -->
	<script th:src="@{/client/js/main.js}"></script>
</body>
</html>
