<!-- Feedback Start -->
<div class="review" th:fragment="feedback">
	<div class="container-fluid">
		<div class="row align-items-center review-slider normal-slider">
			<div class="col-md-6">
				<div class="review-slider-item">
					<div class="review-img">
						<img th:src="@{/client/img/review-1.jpg}" alt="Image">
					</div>
					<div class="review-text">
						<h2>Minh Pham</h2>
						<h3>Đánh giá</h3>
						<div class="ratting">
							<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
								class="fa fa-star"></i> <i class="fa fa-star"></i> <i
								class="fa fa-star"></i>
						</div>
						<p>Sản phẩm dịch vụ tốt</p>
					</div>
				</div>
			</div>
			
			<div class="col-md-6">
				<div class="review-slider-item">
					<div class="review-img">
						<img th:src="@{/client/img/review-2.jpg}" alt="Image">
					</div>
					<div class="review-text">
						<h2>Minh Pham</h2>
						<h3>Đánh giá</h3>
						<div class="ratting">
							<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
								class="fa fa-star"></i> <i class="fa fa-star"></i> <i
								class="fa fa-star"></i>
						</div>
						<p>Sản phẩm dịch vụ tốt</p>
					</div>
				</div>
			</div>
			
			<div class="col-md-6">
				<div class="review-slider-item">
					<div class="review-img">
						<img th:src="@{/client/img/review-3.jpg}" alt="Image">
					</div>
					<div class="review-text">
						<h2>Minh Pham</h2>
						<h3>Đánh giá</h3>
						<div class="ratting">
							<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
								class="fa fa-star"></i> <i class="fa fa-star"></i> <i
								class="fa fa-star"></i>
						</div>
						<p>Sản phẩm dịch vụ tốt</p>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>
<!-- Feedback End -->